## OPENAI
OPENAI_TOKEN=example
ENDPOINT=endpoint
MODEL_NAME=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-large

## TOKENS
SBER_TOKEN=example
YANDEX_TOKEN=example
DEEPSEEK_TOKEN=example

## DATABASE
MILVUS_NAME=milvus.db
COLLECTION_NAME=mmcs_data
PROJECT_NAME=test