## OPENAI
OPENAI_TOKEN=example
ENDPOINT=https://example.com
MODEL_NAME=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-large

## SBER
SBER_TOKEN=example
CERTS=/etc/certs.pem
SYNTHESIZE_SBER_ENDPOINT=https://example.com
RECOGNIZE_SBER_ENDPOINT=https://example.com

## Tokens
YANDEX_TOKEN=example
DEEPSEEK_TOKEN=example

## DATABASE
MILVUS_NAME=milvus.db
COLLECTION_NAME=mmcs_data
PROJECT_NAME=test
DATA_PATH=./data

## HTTP
HOST=localhost
PORT=8080

## OTHER
ENVIRONMENT=development
HF_TOKEN=example